body {
  margin: 0;
  padding: 0;
  width: 100%;
}
.link {
  text-decoration: none;
  color: black;
}
header {
  background-color: #000000;
  color: #fff;
  padding: 0px 40px;
}
.head-link:hover{
  border-radius: 30px;
  background-color: rgb(55, 53, 53);
}
#sign-up-btn {
  padding: 5px 10px;
}
#login-btn {
  border: none;
  font-size: 15px;
  margin: 0px 10px;
}
#help-link {
  font-size: 15px;
}
#lang-btn {
  border: none;
  margin: 0px 20px;
  font-size: 15px;
  padding: 5px 8px;
}
.head-link {
  font-size: 15px;
}
#destination-wrapper {
  background-color: #000000;
}
.uber-heading {
  font-size: 55px;
  font-weight: 500;
  line-height: 64px;
  margin-bottom: 30px;
}
.location-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
.input-btn{
  border: none;
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: center;
}
.head-img{
  height: 100%;
  width: 100%;
  object-fit: contain;
  padding: 40px 0px;
}
.scan-section{
  background-color: rgb(249, 247, 247);
  margin-top: 30px;
  padding: 50px 10px;
}
footer{
  /* height: 120vh; */
  background-color: #000000;
  color: #fff;
}